body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
ul,
li {
  padding: 0;
  margin: 0;
}

.form {
  max-width: 410px;
  margin: 0 auto;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  padding: 80px 0 0;
}
#nav-group-title {
  line-height: 0;
}
.small {
  font-size: 0.9em;
  opacity: 0.7;
}
.tiny {
  font-size: 0.8em;
}
.avatar {
  display: inline-block;
  font-size: 1.7em;
  border-radius: 50%;
  line-height: 0;
  padding: 3px;
  margin-top: 5px;
  margin-right: 12px;
  align-self: flex-start;
}
/* Chat */
/* .chat-container {
  overflow: hidden;
  min-height: calc(100vh - 67px);
}
.chat-messages {
  overflow-y: scroll;
  max-height: calc(100vh - 115px);
} */
.chat-container {
  position: relative;
  min-height: calc(100vh - 50px);
  overflow: hidden;
}
.chat-messages {
  overflow-y: scroll;
  max-height: calc(100vh - 90px);
}
.msg-input {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 2px;
}

@media (max-width: 767.98px) {
  .navbar-brand,
  .members-text {
    display: none;
  }
  .msg-input {
    position: fixed;
  }
}
