$light: #f8f8f8;
$primary: #024640;
$secondary: rgb(226, 226, 226);
$form-feedback-valid-color: #ced4da;
$form-feedback-icon-valid: none;
$offcanvas-bg-color: $light;
$btn-padding-y: 0.24rem;
$btn-padding-x: 0.5rem;

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.bg-light-gray {
  color: $dark;
  background-color: #ebe9e9;
}
.bg-primary {
  color: $light;
  background-color: $primary;
}

.bg-progress {
  background-color: #c09f44;
  color: $dark;
}
